@import '../../../../shared/styles/colors.scss';
.refereeList__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    height: 224px;
}

.referee_skeleton__wrapper {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 160px;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    border: 2px dashed $black_main;
    opacity: 0.2;
    position: relative;
    // &.show {
    //     display: flex;
    // }
    // &.hide {
    //     opacity: 0;
    // }
}

.show {
    opacity: 0.2;
}

.hide {
    opacity: 0;
}


.btn__skeleton_add {
    display: flex;
    padding: 0;
    margin: 0;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
