@import '../../styles/colors.scss';

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  // margin: 0 auto;
  // margin-bottom: ;
}

.small {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.undeline {
  text-decoration: underline;
}

.bold {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.blue-main {
  color: $blue_main;
}

.white-main {
  color: $white_main;
}

.black-main {
  color: $black_main;
}


.grey {
  color: $dark-grey;
}

