@import '../../shared/styles/colors.scss';

.RegPage {
    width: 100vw;
    min-height: 100vh;
    background-color: $light-grey_main;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form_wrapper {
    width: 480px;
    padding: 32px 40px 64px 40px;
    background-color: $white_main;
    border-radius: 24px;
    margin: 0 auto;
}