@import '../../styles/colors.scss';

.checkbox {
    display: flex;
    gap: 16px;
    align-items:start;
    text-decoration: none;
    span {
        text-align: start;
    }
    input:required {
        background: red;
    }
}

.blue-main {
    color: $blue_main
}

.black-main {
    color: $black_main;
}
  