@import 'shared/styles/colors.scss';

.container {
    width: 100%;
    height: 42px;
    display: flex;
    flex-direction: row;
    margin-bottom: 56px;
}

.tab {
    width: 50%;
    height: 42px;
    padding: 6px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #fff;
    a {
        color: $black_main;
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        &:hover {
            cursor: pointer;
        }
    }
}

.active {
    color: $blue_main;
    border-bottom: 2px solid $blue_main;
    a {
        color: $blue_main;
    }
}