@import '../../styles/colors.scss';

.case__wrapper {
    height: 63px;
    color: $light-grey_main;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: $white_main;
    display: flex;
    flex-direction: column;
    padding: 15px 16px 22px 16px;
    border-radius: 16px;
    position: relative;
    gap: 6px;
}

.case {
    display: block;
    margin: 0 auto;
}

.case_number {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    display: block;
    margin: 0 auto;
}

.close_icon {
    border: none;
    background: none;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding: 0;
    img {
        padding: 2px;
        width: 16px;
        height: 16px;
        box-sizing: border-box;
        position: absolute;
        top: 15px;
        right: 16px;
        color: red;
        opacity: 50%;
    }


}

.show {
    display: block;
}

.hide {
    display: none;
}

.main_wrapper {
    width: 86px;
    height: 48px;
}