@import '../../../../shared/styles/colors.scss';

.caseslist__wrapper {
    display: flex;
    background-color:$white_main;
    gap: 16px; 
}

.case_num {
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 2px 8px 0px rgba(9, 105, 160, 0.08);
    height: 100%;
    // box-sizing: border-box;
}