@keyframes skeleton {
  from {
    background: rgba(229, 229, 229, 0.3);
  }
  50% {
    background: rgba(229, 229, 229, 0.65);
  }
  to {
    background: rgba(229, 229, 229, 0.9);
  }
}

.participant {
  height: 80px;
  width: 80px;
  border-radius: 8px;
}

.referee {
  width: 140px;
  height: 140px;
  border-radius: 17px;
}


.skeleton__img {
  height: 100%;
  background: rgb(229, 229, 229);
  border-radius: 24px;
  animation: skeleton 2s linear infinite alternate;
}