@import '../../shared/styles/colors.scss';

.form_wrapper {
    width: 480px;
    padding: 32px 40px 64px 40px;
    background-color: $white_main;
    border-radius: 24px;
    margin: 0 auto;
    position: relative;
}