@import '../../../shared//styles/colors.scss';

html {
    position: relative;
}
.selectcase__wrapper {
    display: flex;
    flex-direction: column;
    width: 800px;
    // height: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    background-color: $white_main;
    // background-color: pink;
    padding: 40px;
    border-radius: 24px;
    box-sizing: border-box;
    z-index: 1;
}

.selectcase_overlay {
    // background-color: red;
    z-index: 1;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    visibility: visible;
    transition: all 0.5s;
}
.caseslist__wrapper {
    display: flex;
    background-color:$white_main;
    gap: 16px; 
    position: relative;
    margin-right: 24px;
}

.caseslist__wrapper_selected {
    display: flex;
    background-color:$white_main;
    gap: 16px; 
    position: relative;
    border: 1px solid $blue_main;
}

.case_btn {
    background: none;
    border: none;
    color: $blue_main;
    position: absolute;
    bottom: -3px;
    left: 18.6%;
}

.case_num {
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 2px 8px 0px rgba(9, 105, 160, 0.08);
    height: 100%;
    box-sizing: border-box;
    margin: 1px;
}

.case_num_selected {
    outline: 1px solid $blue_main;
    transition: 0.3s all;
}

.input_bx {
    position: relative;
    box-sizing: border-box;
    display: block;
    height: 46px;
    padding: 12px 16px;
    align-items: flex-start;
    gap: 8px;

    border-radius: 8px;
    border: 1px solid $find_border;
    background: $white_main;
}
.input {
    border: none;
    width: 100%;
    text-align: left;
    font-size: 16px;
}

input:focus {
    outline: none;
}

.img {
    position: absolute;
    top: 12px;
    right: 16px;
}

.caseslist_case__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
    max-height: 300px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: $scrollbar_background;
    // background: red;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 10px;


}

::-webkit-scrollbar-thumb {
    background: rgba($color: #F8F9FB, $alpha: 0.5);
    border-radius: 4px;
}

.selectcasetype_btn {
    background: $light_blue;
    border-radius: 6px;
    padding: 8px;
    border: none;
}

.selectcasetype_btn_active {
    outline: solid 1px $blue_main;
}

.selectcasetype_btn_group {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}

.selectcase_btn {
    width: 192px;
}

.selectcase_btn__wrapper {
    margin-top: 40px;
    background-color: $white_main;
    display: flex;
    justify-content: center;
    gap:16px;
}


$opacity: 0.5;
$transition: 0.5s;

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100% ;
    background: rgba(0, 0, 0, 0);
    // opacity: $opacity;
    z-index: 11;
    backdrop-filter: blur(0px);
    visibility: visible;


    &.enter {
        background: transparent;
        opacity: 1;
        visibility: hidden;
    }

    &.enter-active {
        background: rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(5px);
        visibility: visible;
        transition: all $transition;
    }

    &.enter-done {
        background: rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(5px);
        visibility: visible;
        transition: all $transition;
    }

    &.exit {
        background: rgba(0, 0, 0, 0.05);
        visibility: visible;
        transition: all $transition;
    }

    &.exit-active {
        background: transparent;
        opacity: 1;
        visibility: hidden;
    }
}

// .wrapperModal {
//     margin: 0;
// }

// show case
.show_case {
    &__wrapper {
        z-index: 1000;
        width: 900px;
        // height: 300px;

        padding: 40px;
        border-radius: 24px;
        box-sizing: border-box;
        background-color: $white_main;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &_title {
        text-align: start;
    }
    &_text {
        margin-top: 24px;
        text-align: justify;
    }
}
