@import '../../shared/styles/colors.scss';


.net__wrapper {
    
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    // margin-top: 24px;
 
    border-radius: 24px;
    background: $white_main;
    box-shadow: 0px 2px 5px 0px rgba(9, 105, 160, 0.08);
}

.add_empty_game {
    box-sizing: border-box;
    height: 120px;
    // display: block;
    width: 928px;
    padding: 16px;
    // align-items

    border-radius: 24px;
    border: 1px dashed #000;
    opacity: 0.3;
}