@import '../../../shared/styles/colors.scss';

.image {

}


.inputs {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-bottom: 56px;
}


.button {
	width: 480px;
	height: 48px;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: $white_main;
	background-color: $blue_main;
	&:hover {
		cursor: pointer;
	}
}