@import '../../shared/styles/colors.scss';
.users__wrapper {
    max-width: 448px;
    max-height: 760px;
    box-sizing: border-box;
    background-color: $white_main;
    border-radius: 24px 0px 0px 24px;
    box-shadow: 0px 2px 5px 0px rgba(9, 105, 160, 0.08);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}

.users__wrapper::-webkit-scrollbar-track {
    background: orange;
  }
  
.users__wrapper::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    border: 3px solid orange;
  }

.m0_auto {
  text-align: start;
  margin: 0;
}
