@import '../../../shared/styles/colors.scss';


.net__wrapper {
    max-width: 928px;
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
 
    border-radius: 24px;
    background: $white_main;
    box-shadow: 0px 2px 5px 0px rgba(9, 105, 160, 0.08);
    position: relative;
}

.add_empty_game {
    box-sizing: border-box;
    height: 120px;
    width: 928px;
    padding: 16px;

    border-radius: 24px;
    border: 1px dashed #000;
    opacity: 0.3;
}

.net__btn_submit {
    display: block;
    margin:  0 auto;
}

.net__timer_conflicts {
    position: absolute;
    top: 40px;
    right: 40px;
    background-image: none;
    background: none;
    border-radius: 8px;
    border: 1px solid $blue_main;
    color: $blue_main;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 32px 8px 24px;
    gap: 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
}

.net__timer_negotiations {
    position: absolute;
    top: 40px;
    right: 40px;
    background-image: none;
    background: none;
    border-radius: 8px;
    border: 1px solid $blue_main;
    color: $blue_main;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 32px 8px 24px;
    gap: 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
}

.net__timer_link {
   width: 20px;
   height: 20px;
}