
@import '../../styles/colors.scss';


.h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    margin: 0 auto;
    // margin-bottom: 40px;
}

.h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}

.h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
.h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.h6 {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}

.black-main {
    color: $black_main;
}

.mb_40 {
    margin-bottom: 40px;
}

.mb_24 {
    margin-bottom: 24px;
}
  
.m0_auto {
    margin: 0;
}

.bold {
    font-weight: 700;
}
