@import '../../../shared/styles/colors.scss';

.form__wrapper {
    box-sizing: border-box;
    width: 480px;
    padding: 40px;
    background-color: $white_main;
    border-radius: 24px;
    background: #FFF;
}