$blue_main: #3FA2FE;
$light-blue:#ECF6FF;
$white_main: #ffffff;
$light-grey_main: #DBDBDB;
$dark-grey_main: #858D95;
$dark-grey: #565E66;
$black_main: #2C3640;
$error: #FF7979;
$first_level: #4BC600;
$second_level: #FBD259;
$third_level: #FF6767;
$level: #F5F5F5;
$game_background: #F8F9FB;
$scrollbar_background: #E5E5E5;
$find_border: #DADDDF;
$delayed: #E5C413;
$score: #C6C7C9;
$counter: #D8ECFF;
