.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

// @media (min-width: 992px) and (max-width: 1200px) {
//     .wrapper {
//         width: 960px;
//     }
// }


// @media (min-width: 768px) and (max-width: 991px) {
//     .wrapper {
//         width: 720px;
//     }
// }


// @media (min-width: 576px) and (max-width: 767px) {
//     .wrapper {
//         width: 540px;
//     }
// }


// @media (max-width: 575px) {
//     .wrapper {
//         width: auto;
//     }
// }