@import '../../styles/colors.scss';



.btn {
  width: 400px;
  height: 48px;
  border-radius: 8px;
  padding: 12px 24px;
  background-color: $blue_main;
  color: $white_main;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
}

.text {
  background: none;
}

.outlined {
  background: $white_main;
  border: 1px solid $blue_main;
  color: $blue_main;
}


.test {
  width: 200px;
  height: 48px;
  border-radius: 8px;
  padding: 12px 24px;
  background-color: $blue_main;
  color: $white_main;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  margin: 20px;
}

.black-main {
  &.text {
    color: $black_main;
    font-weight: 500;
  }
}

.blue-main {
  &.text {
    color: $blue_main;
    &:hover {
      color: $black_main;
    }
  }

  &.outlined {
    background: $white_main;
    border: 1px solid $blue_main;
    color: $blue_main;
  }
}

