.close_icon {
    width: 16px;
    height: 16px;

}

.close {
    position: absolute;
    box-sizing: border-box;
    border: none;
    background: none;
    padding: 0;
    top: 48px;
    right: 40px;
    margin: 8px;
}
.modal__wrapper {
    z-index: 100;
    // width: 100%;
    // display: block;
    // margin:  0 auto;
    position: relative;

    border-radius: 8px;
    
}