@import '../../shared/styles/colors.scss';

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 100;
    backdrop-filter: blur(2px);
    .window {
        width: 560px;
        padding: 64px 40px;
        margin: 100px auto 0 auto;
        border-radius: 24px;
        background-color: $white_main;
        box-shadow: 0px 4px 16px 0px rgba(123, 165, 206, 0.25);
    }
    .head {
        display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 56px;
    }
    .title {
        color: $black_main;
		font-size: 32px;
		font-style: normal;
		font-weight: 500;
		line-height: 40px;
		margin-right: 40px;
        text-align: left;
    }
    .close {
        padding: 15px 8px 8px 8px;
		width: 32px;
		height: 39px;
		img {
            display: block;
        }
        &:hover {
            cursor: pointer;
        }
    }
}


.profile_content {
    width: 100%;
    margin-top: 120px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
}


.left {
    width: 845px;
    height: 328px;
    padding: 64px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(123, 165, 206, 0.25);
    text-align: left;
}


.data {
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: 152px;
    width: 717px;
    margin-bottom: 24px;
}


.photo {
    width: 152px;
    height: 152px;
    img {
        width: 100%;
        height: 100%;
        border-radius: 16px;
        object-fit: cover;
    }
}


.info {
    width: 318px;
    height: 152px;
}


.name {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}


.extra {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}


.rating {
    width: 116px;
    height: 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
}


.telegram {
    width: 178px;
    height: 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}


.change {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $blue_main;
    &:hover {
        cursor: pointer;
    }
}



.right {
    position: relative;
    width: 427px;
    height: 324px;
}


.settings {
    width: 427px;
    height: 260px;
    padding: 64px;
    background: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(123, 165, 206, 0.25);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.setting {
    &_block {
        text-align: left;
    }

    &_text {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
    }

    &_set {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: $blue_main;
        &:hover {
            cursor: pointer;
        }
    }
}


.exit {
    width: 82px;
    border-radius: 8px;
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    position: absolute;
    right: 0;
    bottom: 0;
    img {
        width: 24px;
        height: 24px;
        display: block;
    }
    div {
        color: $blue_main;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
    }
    &:hover {
        cursor: pointer;
    }
}






@media (min-width: 992px) and (max-width: 1200px) {
    
}


@media (min-width: 768px) and (max-width: 991px) {
    
}


@media (min-width: 576px) and (max-width: 767px) {
    
}


@media (max-width: 575px) {
    
}