
@import '../../shared/styles/colors.scss';

.page__wrapper {
    width: 848px;
}
.table {
    grid-area: tb;
}

.net {
    grid-area: nt;
}

.list {
    grid-area: lst;
}
.wrapper {
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.left_column{
    display: flex;
    flex-direction: column;
    gap: 24px;
}



