@import '../../../shared/styles/colors.scss';

.btn__skeleton_add {
    box-sizing: border-box;
    display: flex;
    padding: 0;
    margin: 0;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    padding: 10px;
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.participant_skeleton__wrapper {
    box-sizing: border-box;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    // gap: 8px;
    border-radius: 16px;
 
    opacity: 0.2;
    position: relative;
}
