@import 'shared/styles/colors.scss';

.headline {
    margin-top: 0;
    margin-bottom: 16px;
    color: $black_main;
}

.subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $dark-grey;
    margin-bottom: 40px;
}

.inputs {
    margin-bottom: 16px;
}

.resend {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    color: $black_main;
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 56px;
    div {
        div {
            font-weight: 500;
            height: 100%;
            &:hover {
                cursor: pointer;
            }
        }
    }
}