@import '../../../shared/styles/colors.scss';


.case_text__wrapper {
    width: 592px;
    background-color: $white_main;
    position: relative;
}
.case_title {
    color: $black_main;
    font-family: Onest;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
    margin: 4px 0;
    padding: 0;
    text-align: start;
}

.case_text {
    color: $black_main;
    font-family: Onest;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;

    text-align: start;
    width: 85%;
    margin-top: 0px;

}

.case_type {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    background-color: $light-blue;
    color: $black_main;
    font-family: Onest;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px; /* 160% */
    border-radius: 6px;
    margin-top: 2px; // TODO: посмотреть, какое расстояние между плашками
}

.case_text__tags {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0px;
    
}

// .case_btn {
//     background: none;
//     border: none;
//     color: $blue_main;

//     display: flex;
//     justify-content: start;
// }