
@import '../../../shared/styles/colors.scss';

html {
    position: relative;
}

.selectcase_overlay {
    // background-color: red;
    z-index: 1;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    visibility: visible;
    transition: all 0.5s;
}

.wrapperModal {
    box-sizing: border-box;
    // height: 100%;
    width: 480px;
    padding: 40px;
    background-color: $white_main;
    border-radius: 24px;
    background: #FFF;
    position: absolute; 
    display: flex;
    flex-direction: column;
    gap: 40px;

    position: fixed;
    top: 4%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}

.title {
    color: $black_main;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px; /* 125% */
    text-align: start;
    width: 304px;
    margin: 0;
}

.input_bx {
    position: relative;
    box-sizing: border-box;
    display: flex;
    width: 400px;
    height: 46px;
    padding: 12px 16px;
    margin-top: 24px;
    align-items: flex-start;
    gap: 8px;

    border-radius: 8px;
    border: 1px solid $find_border;
    background: $white_main;
}
.input {
    border: none;
    width: 100%;
    text-align: left;
    font-size: 16px;
}

input:focus {
    outline: none;
}

.img {
    position: absolute;
    top: 12px;
    right: 16px;
}



.btn__wrapper {
    display: flex;
    gap: 16px;
}

.add_userlist {
    display: flex;
    height: 440px;
}

.userslist {
    width: 115%;
    opacity: 50%;
}

.userslist__wrapper {
    margin-top: 16px;
}

.userslist_user__wrapper {
    overflow: auto;
    // width: 372px;
    height: 320px;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: flex-start;
    gap: 8px;

}

.userlist_user__wrapper_main {
    display: flex;
    padding: 16px 8px 0px 8px;
    border-radius: 16px;
    background: $game_background;
    flex-direction: column;
    margin: 1px;
    // z-index: 100;
}

.span {
    width: 98%;
    border: none;

}

.span_selected {
    box-sizing: border-box;
    border-radius: 16px;
    // outline-offset: -1px;
    border: 1px solid #3FA2FE;

}

.transparent {
    opacity: 0.5;
}