<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/"><span style="color:blue">SSL</span></a>
    <nav class="my-2 my-md-0 mr-md-3">
        {% if user.is_authenticated %}
        Пользователь: {{ user.email }}. |
        <a class="p-2 text-dark" href="{% url 'users:auth-logout' %}">Выйти</a>
        {% else %}
        <a class="p-2 text-dark" href="{% url 'users:auth-login' %}">Войти</a> |
        <a class="p-2 text-dark" href="{% url 'users:auth-register' %}">Регистрация</a>
        {% endif %}
    </nav>
</nav>