@import '../../shared/styles/colors.scss';

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 100;
    backdrop-filter: blur(2px);
    .window {
        width: 560px;
        padding: 64px 40px;
        margin: 100px auto 0 auto;
        border-radius: 24px;
        background-color: $white_main;
        box-shadow: 0px 4px 16px 0px rgba(123, 165, 206, 0.25);
    }
    .head {
        display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 56px;
    }
    .title {
        color: $black_main;
		font-size: 32px;
		font-style: normal;
		font-weight: 500;
		line-height: 40px;
		margin-right: 40px;
        text-align: left;
    }
    .close {
        padding: 15px 8px 8px 8px;
		width: 32px;
		height: 39px;
		img {
            display: block;
        }
        &:hover {
            cursor: pointer;
        }
    }
}


.links {
    width: 1312px;
    margin: 88px auto 120px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    a {
        text-decoration: none;
        color: $black_main;
    }

    .link {
        width: 100%;
        height: 168px;
        padding: 64px;
        border-radius: 24px;
        box-shadow: 0px 4px 16px 0px rgba(123, 165, 206, 0.25);
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 32px;
        font-weight: 500;
        text-align: left;
        &:hover {
            cursor: pointer;
        }
    }
}