@import '../../../../shared/styles/colors.scss';

.form__wrapper {

}

.input__wrapper {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;
}

// Floating label
.input_bx {
    position: relative;
    width: 100%;
}

.input_bx input {
    padding: 10px;
    box-sizing:border-box;
    display: flex;
    width: 100%;
    height: 48px;
    padding: 12px 16px;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    outline: none;

    border-radius: 8px;
    border: 1px solid $light-grey_main;

    // transition: 0.6s;
}

.input_bx span {
    position: absolute;
    left: 0;
    top: 0;
    color: $dark-grey_main;
    text-decoration: none;
    padding: 12px;
    transition: 0.6s;
}

.input_bx span:hover,
.input_bx span:focus,
.input_bx input:valid ~ span,
.input_bx input:focus ~ span,
.input_bx input:hover ~ span  {
    transform: translateX(16px) translateY(-12px);
    font-size: 12px;
    line-height: 16px;
    padding: 4px;
    background-color: $white_main;
}

.input_bx input:hover,
.input_bx input:valid,
.input_bx input:focus {
    border-radius: 8px;
    border: 1px solid $light-grey_main;
}
