@import 'shared/styles/colors.scss';

.headline {
    margin-top: 0;
    margin-bottom: 40px;
    color: $black_main;
}

.image {
    height: 240px;
    margin-bottom: 40px;
}

.title {
    margin-bottom: 16px;
    text-align: center;
    color: $black_main;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.image_input {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-color: $light-blue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    img {
        width: 76px;
        height: 72px;
        z-index: 2;
        display: block;
    }
}

.inputFile {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    &:hover {
        cursor: pointer;
    }
}

.inputs {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.point {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    &:last-of-type {
        margin-bottom: 56px;
    }
}

.box {
    display: block;
    width: 16px;
    height: 16px;
    margin: 0;
    border-radius: 2px;
    border: 1px solid $blue_main;
    background: #FFF;
    outline: none;
    margin-right: 16px;
}

.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    max-width: 363px;
    color: $black_main;
}