@import '../../../../shared/styles/colors.scss';

.wrapperModal {
    box-sizing: border-box;
    height: 320px;
    width: 480px;
    padding: 40px;
    background-color: $white_main;
    border-radius: 24px;
    background: #FFF;
    position: absolute; 
    display: flex;
    flex-direction: column;
    gap: 40px;

    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}

.overlay {
    z-index: 1;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    visibility: visible;
    transition: all 0.5s;
}

.left {
    text-align: start;
}
.checkbox__wrapper {
    display: flex;
    justify-content: start;
    gap: 8px;
}

.btn__wrapper {
    display: flex;
    gap: 16px;
    width: 400px;
}