form {
    .form__wrapper {
        margin-top: 56px;
        margin-bottom: 56px;
    }

    position: relative;
}

.mt_56 {
    margin-top: 56px;
    margin-bottom: 56px;
}

.forgot_password1 {
    padding: 0;
    width: 125px;
    height: 24px;
    position: absolute;
    bottom: 72px;
    right: 0px;
}
