@import '../../styles/colors.scss';


.error_outlined {
    box-sizing: border-box;
    border: 2px solid $error;
    border-radius: 26px;
    position: relative;
    // width: 100%;
    // height: 102%;
    // z-index: -1;
}

.error__icon {
    position: absolute;
    top: -14px;
    right: 16px;
    z-index: 1;
}

.error__text {
    box-sizing: border-box;
    padding: 8px 16px 8px 24px;
    border-radius: 16px;
    border: 2px solid $error;
    box-shadow: 0px 2px 5px 0px rgba(9, 105, 160, 0.08);
    z-index: 1;
    position: absolute;
    top: -17px;
    left: 82%;
    width: 125%;
    max-width: 250px;
    background: $white_main;
    font-size: 16px;
    line-height: 18px;
    display: none;
    transition: 0.5s all;
}


.error__icon:hover ~ .error__text {
    display: block;
}