@import '../../../../shared/styles/colors.scss';

.game__wrapper {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;

    border-radius: 24px;
    background: $game_background;
}

.add_empty_case {
    width: 118px;
    height: 100px;
    box-sizing: border-box;
    padding: 22px 16px 12px 16px;
    border-radius: 16px;
    border: 1px dashed #000;
    opacity: 0.2;
}

.add_empty_participant_admin {
    width: 377px;
    height: 100px;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 16px;
    border: 1px dashed #000;
    opacity: 0.2;
}

.add_empty_participant_referee {
    width: 325px;
    height: 100px;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 16px;
    border: 1px dashed #000;
    opacity: 0.2;
}

.input_score:invalid {
    color: red;
}


.score:hover {
    border: 1px dashed $black_main;
}
.score_error {
    border: 1px dashed $error;
}
.score {
    width: 8px;
    border: none;
    color: $black_main;
    background: none;
    font-family: Onest;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px; /* 150% */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;

    box-sizing: border-box;
    width: 40px;
    height: 40px;
    padding: 8px 13px;
    border-radius: 80px;
    border: 1px dashed $score;
}

.score:invalid {
    border: 1px dashed $error;
    color: $error;
}