@import '../../../shared/styles/colors.scss';

.next_game {
	width: 1312px;
	padding: 64px;
	border-radius: 40px;
	background-color: $black_main;
	margin: 60px auto 0 auto;
	color: $white_main;
	text-align: left;
}


.line {
	display: flex;
	flex-direction: row;
	align-items: center;
}


.image_set {
	user-select: none;
}


.button {
	width: 201px;
	height: 56px;
	border-radius: 8px;
	background-color: $blue_main;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-weight: 500;
	user-select: none;
	&:hover {
		cursor: pointer;
	}
}


.block_one {
	.first_line {
		height: 56px;
		justify-content: space-between;
		margin-bottom: 24px;

		.headline {
			font-size: 40px;
			font-weight: 500;
		}

		.image_set {
			width: 305px;
			height: 100%;
			position: relative;

			div {
				height: 222.53px;
				width: 100%;
				position: absolute;
				top: -32px;
				right: 23px;
			}

			.pointer {
				display: block;
				width: 100%;
				height: 100%;
			}

			.flask {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 144px;
				height: 180px;
			}
		}
	}


	.second_line {
		height: 32px;
		gap: 32px;
		margin-bottom: 40px;
		
		.data {
			display: flex;
			flex-direction: row;
			gap: 8px;
			align-items: center;
			img {
				height: 24px;
			}
			div {
				font-size: 24px;
				font-weight: 500;
			}
		}


	}


	.third_line {
		height: 56px;
	}
}


.block_two {
	.first_line {
		height: 56px;
		justify-content: space-between;
		margin-bottom: 24px;

		.headline {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 32px;

			.title {
				font-size: 40px;
				font-weight: 500;
			}
			
			.change {
				height: 32px;
				border-radius: 8px;
				display: flex;
				flex-direction: row;
				gap: 8px;
				align-items: center;
				padding: 4px 16px;
				border: 1px solid $counter;
				user-select: none;
				img {
					display: block;
					width: 5px;
					height: 17.5px;
				}
				div {
					font-size: 16px;
					font-weight: 500;
					color: $counter;
				}
			}
		}

		.image_set {
			width: 305px;
			height: 100%;
			position: relative;

			div {
				height: 222.53px;
				width: 100%;
				position: absolute;
				top: -32px;
				right: 23px;
			}

			.pointer {
				display: block;
				width: 100%;
				height: 100%;
			}

			.flask {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 144px;
				height: 180px;
			}
		}
	}


	.second_line {
		height: 32px;
		gap: 32px;
		margin-bottom: 16px;
		
		.data {
			display: flex;
			flex-direction: row;
			gap: 8px;
			align-items: center;
			img {
				height: 24px;
			}
			div {
				font-size: 24px;
				font-weight: 500;
			}
		}


	}


	.third_line {
		height: 32px;
		display: flex;
		flex-direction: row;
		gap: 16px;
		font-size: 16px;
		font-weight: 500;
		user-select: none;

		.new_sign {
			height: 32px;
			padding: 4px 16px;
			border-radius: 8px;
			background-color: $counter;
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 8px;
			color: $black_main;
			img {
				display: block;
				&:hover {
					cursor: pointer;
				}
			}
		}
		
		.cancel {
			height: 32px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			padding: 4px 24px;
			border-radius: 8px;
			border: 1px solid $blue_main;
			color: $blue_main;
			&:hover {
				cursor: pointer;
			}
		}
	}
}


.block_three {
	.first_line {
		height: 56px;
		justify-content: space-between;
		margin-bottom: 24px;

		.headline {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 32px;

			.title {
				font-size: 40px;
				font-weight: 500;
			}
			
			.change {
				height: 32px;
				border-radius: 8px;
				display: flex;
				flex-direction: row;
				gap: 8px;
				align-items: center;
				padding: 4px 16px;
				border: 1px solid $counter;
				user-select: none;
				img {
					display: block;
					width: 5px;
					height: 17.5px;
				}
				div {
					font-size: 16px;
					font-weight: 500;
					color: $counter;
				}
			}
		}

		.button {
			font-size: 16px;
		}
	}


	.second_line {
		height: 32px;
		gap: 32px;
		margin-bottom: 16px;
		
		.data {
			display: flex;
			flex-direction: row;
			gap: 8px;
			align-items: center;
			img {
				height: 24px;
			}
			div {
				font-size: 24px;
				font-weight: 500;
			}
		}


	}


	.third_line {
		height: 32px;
		display: flex;
		flex-direction: row;
		gap: 16px;
		font-size: 16px;
		font-weight: 500;
		user-select: none;
		margin-bottom: 40px;

		.new_sign {
			height: 32px;
			padding: 4px 16px;
			border-radius: 8px;
			background-color: $counter;
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 8px;
			color: $black_main;
			img {
				display: block;
				&:hover {
					cursor: pointer;
				}
			}
		}
		
		.cancel {
			height: 32px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			padding: 4px 24px;
			border-radius: 8px;
			border: 1px solid $blue_main;
			color: $blue_main;
			&:hover {
				cursor: pointer;
			}
		}
	}


	.fourth_line {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
