@import '../../../shared/styles/colors.scss';


.net__wrapper {
    box-sizing: border-box;
    width: 1312px;
    display: flex;
    padding: 64px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 24px;
    border-radius: 24px;
    background: $white_main;
    box-shadow: 0px 2px 5px 0px rgba(9, 105, 160, 0.08);
    position: relative;
}

.add_empty_game {
    box-sizing: border-box;
    height: 120px;
    width: 928px;
    padding: 16px;
    border-radius: 24px;
    border: 1px dashed #000;
    opacity: 0.3;
}

.net__btn_submit {
    display: block;
    margin:  0 auto;
}

.net__timer_conflicts {
    position: absolute;
    top: 40px;
    right: 40px;
    background-image: none;
    background: none;
    border-radius: 8px;
    border: 1px solid $blue_main;
    color: $blue_main;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 32px 8px 24px;
    gap: 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
}

.net__timer_negotiations {
    position: absolute;
    top: 40px;
    right: 40px;
    background-image: none;
    background: none;
    border-radius: 8px;
    border: 1px solid $blue_main;
    color: $blue_main;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 32px 8px 24px;
    gap: 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
}

.net__timer_link {
   width: 20px;
   height: 20px;
}


input:focus {
    animation: PulseAttention 2s cubic-bezier(.215, .61, .355, 1) forwards infinite;
}

.table__input_bx {
    display: flex;
    width: 590px;
    padding: 12px 0px;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px; /* 100% */
    border: none;
    outline: none;
    caret-color: $black_main;
    margin: 0;
}

::placeholder {
    color: $light-grey_main;
    opacity: 1;
  }
   
  :-ms-input-placeholder {
    color: $light-grey_main;
  }
   
  ::-ms-input-placeholder {
    color: $light-grey_main;
  }



.table__wrapper {
    background-color: $white_main;
    width: 928px;
    padding: 40px;
    border-radius: 24px;
    box-shadow: 0px 2px 5px 0px rgba(9, 105, 160, 0.08);
    position: relative;
}

.tabs {
    
    width: 220px;
    gap: 32px;
    position: absolute;
    top: 40px;
    right: 40px;
}

.tab {
    padding: 16px 0;
    width: 100%;
}
.referee_block {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 24px;

}

.Table_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    margin-top: 40px;
}

.ta_s {
    text-align: start;
}

.devider {
    width: 100%;
    height: 1px;
    opacity: 0.2;
    background: $blue_main;
    box-shadow: 0px 4px 16px 0px rgba(44, 54, 64, 0.25);
}

.fs_14 {
    width: 190px;
    font-size: 14px;
    padding: 8px 16px;
}