@import 'shared/styles/colors.scss';

.image {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.headline {
    color: $black_main;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 24px;
}

.subtitle {
    color: $black_main;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 56px;
}