$opacity: 0.5;
$transition: 0.5s;

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100% ;
    background: rgba(0, 0, 0, 0);
    // opacity: $opacity;
    z-index: 11;
    backdrop-filter: blur(0px);
    visibility: visible;


    &.enter {
        background: transparent;
        opacity: 1;
        visibility: hidden;
    }

    &.enter-active {
        background: rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(5px);
        visibility: visible;
        transition: all $transition;
    }

    &.enter-done {
        background: rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(5px);
        visibility: visible;
        transition: all $transition;
    }

    &.exit {
        background: rgba(0, 0, 0, 0.05);
        visibility: visible;
        transition: all $transition;
    }

    &.exit-active {
        background: transparent;
        opacity: 1;
        visibility: hidden;
    }
}