.footer {
    width: 100%;
    height: 336px;
    padding: 80px 120px;
    background: #FFF;
    box-shadow: 0px 4px 24px 0px rgba(123, 165, 206, 0.10);
    text-align: left;
}

.firstLine {
    height: 48px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.footer_email {
    color: #2C3640;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
}

.footer_squares {
    display: flex;
    flex-direction: row;
    height: 24px;
    gap: 16px;
    div {
        width: 24px;
        height: 24px;
        border-radius: 2px;
        background-color: #D9D9D9;
    }
}

.secondLine {
    color: #2C3640;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

.thirdLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.footer_agreement {
    color: #2C3640;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

.footer_logo {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #2C3640;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
}