.header {
	width: 100%;
	height: 96px;
	background: #FFF;
	box-shadow: 0px 4px 16px 0px rgba(123, 165, 206, 0.10);
	user-select: none;
}

.wrapper {
	width: 100%;
	max-width: 1440px;
	height: 100%;
	margin: 0 auto;
	padding: 16px 120px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.buttons {
	width: auto;
	max-width: 757px;
	height: 100%;
	display: flex;
	flex-direction: row;
	gap: 16px;
}

.logo {
	display: block;
	width: 70px;
	height: 64px;
}

.nav {
	width: auto;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 32px;
	align-items: center;
}

.nav a {
	color: #2C3640;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	text-decoration: none;
}

.nav a:hover {
	cursor: pointer;
	text-decoration: underline;
}

.profile {
	width: 64px;
	height: 64px;
}

.image {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}



@media (min-width: 951px) and (max-width: 1100.98px) {
	.wrapper {
		padding: 16px 95px;
	}

	.nav {
		gap: 24px;
	}

	.nav a {
		font-size: 16px;
	}
}


@media (max-width: 950.98px) {
	.nav a {
		font-size: 11px;
	}
}


@media (min-width: 576px) and (max-width: 767px) {
	
}


@media (max-width: 575px) {
	
}