@import '../../../shared/styles/colors.scss';

.line {
	height: 16px;
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
	margin-bottom: 24px;
	input {
		width: 16px;
		height: 16px;
		border-radius: 3px;
		border: 1px solid black;
	}
	div {
		font-size: 16px;
		font-weight: 400;
		line-height: 16px;
		text-align: left;
	}
}


.inputs {
	display: flex;
	flex-direction: row;
	gap: 16px;
	margin-bottom: 40px;
	&_disabled {
		pointer-events: none;
		opacity: 0.6;
	}
}


.button {
	width: 480px;
	height: 48px;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: $white_main;
	background-color: $blue_main;
	&:hover {
		cursor: pointer;
	}
}