@import '../../styles/colors.scss';

.table__wrapper {
    box-sizing: border-box;
    display: flex;
    padding: 9px 8px 9px 16px;
    align-items: center;
    gap: 24px;
    width: 109px;

    border-radius: 8px;
    border: 1px solid $light-grey_main;
}

.table__wrapper_active {
    border: 1px solid $blue_main;
}

.name {
    margin: 0;
    color: #1E1E1E;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px; /* 157.143% */
}

.close_icon {
    border: none;
    background: none;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding: 0;
    img {
        padding: 4px;
        width: 16px;
        height: 16px;
        box-sizing: border-box;
    }

}