@import 'shared/styles/colors.scss';



html {
    position: relative;
}

.wrapperModal {
    box-sizing: border-box;
    width: 480px;
    padding: 40px;
    background-color: $white_main;
    border-radius: 24px;
    background: #FFF;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // z-index: 11;
}


.form__wrapper {
    display: block;
    margin: 0px;
    justify-content: start;
    margin-bottom: 40px;
}

.btn__wrapper {
    display: flex;
    gap: 16px;
}



.left {
    display: flex;
    justify-content: start;
}

