@import '../../../shared/styles/colors.scss';


.step {
    display: none;
    &_active {
        display: block;
    }
}


.input_container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.button {
	width: 480px;
	height: 48px;
    margin-top: 56px;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: $white_main;
	background-color: $blue_main;
	&:hover {
		cursor: pointer;
	}
}