@import '../../styles/colors.scss';

.tab__label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black_main;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    padding: 8px 24px;
    width: 100%;
    user-select: none;
    transition: .4s all;
    border-bottom: 2px solid $white_main;
    margin-bottom: 56px;
    
    &_selected {
        color: $blue_main;
        border-bottom: 2px solid $blue_main;
    }

    &:hover {
        background-color: $light-blue;
        cursor: pointer;
    }
}

.tab__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}