@import 'shared/styles/colors.scss';

.headline {
    margin-top: 0;
    margin-bottom: 40px;
    color: $black_main;
}

.auth_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 40px;
}