@import '../../shared/styles/colors.scss';

.next_game {
    // max-width: 1312px;
    height: 336px;
    padding: 64px;
    border-radius: 40px;
    background-color: $black_main;
    margin: 60px auto 0 auto;
    color: $white_main;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;

    .headline {
        font-size: 40px;
        font-weight: 500;
        line-height: 56px;
        margin-bottom: 24px;
    }

    .data {
        display: flex;
        flex-direction: row;
        height: 32px;
        margin-bottom: 40px;
        font-family: Onest;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
    }

    .button {
        width: 201px;
        height: 56px;
        border-radius: 8px;
        background-color: $blue_main;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Onest;
        font-size: 24px;
        font-weight: 500;
        user-select: none;
        &:hover {
            cursor: pointer;
        }
    }
}


.links {
    width: 1312px;
    margin: 88px auto 120px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    a {
        text-decoration: none;
        color: $black_main;
    }

    .link {
        width: 100%;
        height: 168px;
        padding: 64px;
        border-radius: 24px;
        box-shadow: 0px 4px 16px 0px rgba(123, 165, 206, 0.25);
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 32px;
        font-weight: 500;
        text-align: left;
        &:hover {
            cursor: pointer;
        }
    }
}