@import 'shared/styles/colors.scss';

.upButtons {
    height: 32px;
    width: 100%;
    margin-bottom: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.back {
    color: $blue_main;
    font-size: 16px;
    font-weight: 500;
    user-select: none;
    &:hover {
        cursor: pointer;
    }
}

.close {
    width: 32px;
    height: 32px;
    padding: 8px;
    img {
        width: 16px;
        height: 16px;
    }
    &:hover {
        cursor: pointer;
    }
}