@import '../../../shared/styles/colors.scss';


.step {
    display: none;
    &_active {
        display: block;
    }
}


.comment {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin-bottom: 40px;
}


.again {
    user-select: none;
    margin-top: 16px;
    font-family: Onest;
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
    display: flex;
    flex-direction: row;
    &_link {
        font-weight: 500;
        &:hover {
            cursor: pointer;
        }
    }
}


.button {
	width: 480px;
	height: 48px;
    margin-top: 56px;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: $white_main;
	background-color: $blue_main;
	&:hover {
		cursor: pointer;
	}
}