@import '../../../shared/styles/colors.scss';

.wrapper {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 8px;

    border-radius: 16px;
    background: $white_main;
}
.border_admin {
    width: 377px;
}

.border_referee {
    width: 325px;
}


.dropdown_icon {
    position: absolute;
    background: none;
    background-image: url('../../../assets/icons/functional_icons/drop-down.png');
    top: 12px;
    right: 12px;
    width: 20px;
    height: 12px;
    border: none;
    padding: 0;
    transition: 0.3s all;
}
.dropdown_icon_rotate {
    transform: rotate(180deg);
}

.dropdown_content {
    position: absolute;
    top: 44px;
    right: 8px;
    box-sizing: border-box;
    width: 100px;
    height: 74px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 2px 8px 0px rgba(9, 105, 160, 0.08);

    display: flex;
    padding: 12px 8px;
    flex-direction: column;
    align-items: start;
    z-index: 10;
    // display: none;
}

.dropdown_btn {
    box-sizing: border-box;
    border: none;
    background: none;
    color: balck;
    display: flex;
    text-align: center;
    font-family: Onest;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    width: 100%;
    padding: 4px 8px;
    border-radius: 8px;

}

.dropdown_btn:hover {
    background: $light-blue;
}

.border_skipped {
    border-left: 4px $error solid;
    transition: 0.3s all;

}

.border_delayed {
    border-left: 4px $delayed solid;
    transition: 0.3s all;
}
.status {
    background-image: none;
    background-size: contain;
    position: absolute;
    right: 75px;
    width: 26px;
    height: 26px;
}

.icon_skipped {
    background-image: url(../../../assets/icons/participant_status/skipped.png);
    background-size: contain;
    width: 28px;
    height: 33px;
    transition: 0.3s all;
    box-sizing: border-box;
}

.icon_delayed {
    background-image: url(../../../assets//icons//participant_status/delayed.png);
    background-size: contain;
    width: 24px;
    height: 24px;
    transition: 0.3s all;
    box-sizing: border-box;
}

.participant__wrapper {
    width: 100%;
    height: 80px;
    background-color: $white_main;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.participant__counter_hide{
    display: none;
}

.participant__counter_show{
    box-sizing:border-box;
    height: 20px;
    width: 86px;
    padding: 2px 4px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    background-color: $counter;
    transform: rotate(-4.361deg);
    position: absolute;
    top: -4px;
    left: 0px;

    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: $black_main;
}

.loading{
    font-size: 200px;
    font-weight: bold;
    color: red;
}

// p {
//     width: 100%;
//     height: 20px;
//     display: flex;
// }
.name {
    display: flex;
    justify-content: start;
    margin: 0;
    color: $black_main;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}
.info__wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}
.level {
    width: 92px;
    height: 22px;
    background-color: $level;
    display: flex;
    align-items: center;
    padding: 2px 4px;
    border-radius: 4px;
    gap: 8px;
}

.level_style {
    font-size: 14px;
}

.l_1 {
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background: $first_level;
}

.l_2 {
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background: $second_level;
}

.l_3 {
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background: $third_level;
}

.time {
    height: 22px;
    font-size: 14px;
    // width: 70px;
    padding: 2px 4px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    background: $blue_main;
    color: $white_main;
}

// .squarePhoto {
//     width: 240px;
//     height: 240px;
//   }
  

  .skeleton {
    display: flex;
}
.participant {
  display: flex;
}
.participant_skeleton__wrapper {
    box-sizing: border-box;
    display: flex;
    height: 100px;
    width: 356px;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    border: 2px dashed $black_main;
    opacity: 0.2;
    position: relative;
}

.btn__skeleton_add {
    display: flex;
    padding: 0;
    margin: 0;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close_icon {
    border: none;
    background: none;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding: 0;
    img {
        padding: 2px;
        width: 16px;
        height: 16px;
        box-sizing: border-box;
        position: absolute;
        top: 12px;
        right: 12px;
        color: red;
        opacity: 50%;
    }

}




// .dropdown_icon:hover ~ .dropdown_content {
//     display: flex;
// }
