@import '../../styles/colors.scss';

.referee__wrapper {
    display: flex;
    box-sizing: border-box;
    padding: 16px;
    width: 172px;
    height: 224px;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;

    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(9, 105, 160, 0.12);
    position: relative;
    .btn_close {
        width: 28px;
        height: 28px;
        border-radius: 16px;
        background: $white_main;
        position: absolute;
        top: 28px;
        right: 28px;

        display: none;
        transition: 0.5s all;
    }

    transition: 0.5s all;

}

.referee__wrapper:hover {
    .btn_close {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s all;
    }
    transition: 0.5s all;
}

.name__wrapper {
    height: 36px;
}

.name {
    color: $black_main;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: start;
}

.referee_skeleton__wrapper {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 160px;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    border: 2px dashed $black_main;
    opacity: 0.2;
    position: relative;
}

.btn__skeleton_add {
    display: flex;
    padding: 0;
    margin: 0;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}