@import '../../styles/colors.scss';

.input {
    box-sizing:border-box;
    display: flex;
    width: 400px;
    height: 48px;
    padding: 12px 16px;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;

    border-radius: 8px;
    border: 1px solid $light-grey_main;
}

input[type = "file"] {
    // background-color: $light-blue;
    display: none;
}
  