@import '../../styles/colors.scss';

.input_container {
	position: relative;
}

.input {
	height: 48px;
	padding: 12px 16px;
	border-radius: 8px;
	outline: none;
	display: block;
	width: 100%;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	z-index: 4;
	position: relative;
	background: none;
}

.input_normal {
	border: 1px solid $light-grey_main;
}

.input_error {
	border: 1px solid $error;
}

.input:focus ~ .placeholder, .input:not(:placeholder-shown) ~ .placeholder {
	top: -13px;
	z-index: 5;
}


.placeholder {
	position: absolute;
	top: 12px;
	left: 12px;
	z-index: 3;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	background-color: #fff;
	user-select: none;
	transition: .4s all;
	padding: 2px 5px;
	border-radius: 5px;
	color: $dark-grey_main;
}

.error {
	width: 100%;
	min-height: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: $error;
	font-size: 16px;
    font-style: normal;
    font-weight: 400;
}