@import '../../../../shared/styles/colors.scss';

.userslist {
    width: 364px;
    opacity: 0.5;
    background: red;
}

.userslist__wrapper {
    overflow: auto;
    // width: 372px;
    height: 560px;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: flex-start;
    gap: 8px;

}
.userlist_wrapper_main {
    display: flex;
    padding: 16px 8px 0px 8px;
    border-radius: 16px;
    background: $game_background;
    flex-direction: column;
    // z-index: 12;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: $scrollbar_background;
    // background: red;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 10px;


}

::-webkit-scrollbar-thumb {
    background: rgba($color: #F8F9FB, $alpha: 0.5);
    border-radius: 4px;
}

.transparent {
    opacity: 0.5;
}

.span {
    width: 100%;
    border: none;

}



