@import '../../../shared/styles/colors.scss';

footer {
    display: flex;
    box-sizing: border-box;
    width: 1440px;
    padding: 80px 120px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    background-color: white;
}

.footer {
    margin-top: 80px;
}

.contact_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 401px;
    align-self: stretch;
}

.icons__wrapper {
    display: flex;
    justify-content: space-around;
    gap: 16px;
}

.icon_load {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    background-color: $light-grey_main;
}

.main_info {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
}

.links__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
}